{
  "presets": [
    "stage-1",
    "es2015",
    "react"
  ],
  "plugins": [
    ["typecheck", {
      "disable": {
        "production": true
      }
    }],
    ["contracts", {
      "env": {
        "production": {
          "strip": true
        }
      }
    }],
    ["trace", {strip: true}]]
}